<nav>
  <div [ngClass]="{ 'menu-items': true, 'opened': showAllNs }">
    <div *ngFor="let item of namespaces; let idx = index"
      (click)="switchNs(item.key, $event)"
      [ngClass]="{ active: item.key === displayedNamespace$.getValue()}"
      [style.order]="item.order"
    >{{ item.displayName }}</div>
  </div>

  <div class="menu-expand" (click)="showAllNs = !showAllNs">
    <mat-icon [hidden]="showAllNs">arrow_drop_down</mat-icon>
    <mat-icon [hidden]="!showAllNs">arrow_drop_up</mat-icon>
  </div>
</nav>

<div class="stats">
  <span>{{ nsMetrics.length }} metrics</span>
  <span class="icon-hidden-count" *ngIf="curNsHiddenCount > 0">
    and {{ curNsHiddenCount }} hidden
    <mat-icon (click)="showHiddenMetricsDialod()" title="Hidden metrics count">visibility_off</mat-icon>
  </span>
</div>

<div class="content" *ngIf="nsMetrics.length > 0">
  <div class="cloud-metrics-graphs-wr">
    <div class="cloud-metrics-graphs">
      <div *ngFor="let item of nsMetrics">
        <div class="graph-title">
          <div>{{ item.name }}</div>
          <mat-icon (click)="hideMetrics(item.name)" title="Hide metrics">visibility_off</mat-icon>
          <mat-icon (click)="showBigChart(item.name)" title="View big chart">open_in_full</mat-icon>
        </div>
        <plotly-plot *ngIf="item.graphData"
          [data]="[item.graphData]"
          [layout]="graphLayout"
          [config]="graphConfig"
        ></plotly-plot>
        <div class="metrics-failed" *ngIf="!item.graphData">Data loading failed</div>
      </div>

      <div *ngFor="let item of getTailCount()"></div>
    </div>
  </div>
  <div class="indicators">
    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>
  </div>
</div>
