<horizontal-menu
  [items]="namespaces"
  [activeItem]="displayedNamespace$.value"
  (selectedItem)="onSelectHorMenuItem($event)"
></horizontal-menu>

<div class="stats" *ngIf="activeDimensionIdx >=0 && activeDimensionIdx < nsDimensions.length">
  <mat-form-field class="select-fitcontent" *ngIf="nsDimensions.length > 1">
    <mat-select [formControl]="nsDimensionsCtrl">
      <mat-option *ngFor="let item of nsDimensions; let idx = index;" [value]="idx">
        {{ item.dimension.Name }}: {{ item.dimension.Value }}</mat-option>
    </mat-select>
  </mat-form-field>

  <span>{{ nsDimensions[activeDimensionIdx].metricsNames.length }} metrics</span>
  <span class="icon-hidden-count" *ngIf="nsDimensions[activeDimensionIdx].hiddenMetricsNames.length > 0">
    and {{ nsDimensions[activeDimensionIdx].hiddenMetricsNames.length }} hidden
    <mat-icon (click)="showHiddenMetricsDialod()" title="Hidden metrics count">visibility_off</mat-icon>
  </span>
</div>

<div class="content" *ngIf="nsMetrics.length > 0">
  <div class="cloud-metrics-graphs-wr">
    <div class="cloud-metrics-graphs">
      <div *ngFor="let item of nsMetrics">
        <div class="graph-title">
          <div>{{ item.name | splitWords }}</div>
          <mat-icon (click)="hideMetrics(item.name)" title="Hide metrics">visibility_off</mat-icon>
          <mat-icon (click)="showBigChart(item.name)" title="View big chart">open_in_full</mat-icon>
        </div>
        <plotly-plot *ngIf="item.graphData"
          [data]="[item.graphData]"
          [layout]="lineChartLayout"
          [config]="lineChartConfig"
        ></plotly-plot>
        <div class="metrics-failed" *ngIf="!item.graphData">Data loading failed</div>
      </div>

      <div *ngFor="let item of getTailCount()"></div>
    </div>
  </div>
  <div class="indicators">
    <div>
      <plotly-plot [data]="gaugeConfig" [layout]="gaugeLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="gaugeConfig" [layout]="gaugeLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="gaugeConfig" [layout]="gaugeLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>
  </div>
</div>
