@import '_variables';

$gapWidth: 10px;
$marginWidth: 4px;
$gapColor: #8388a4;

.content {
  display: flex;
  border: $marginWidth solid #fff;
}

.cloud-metrics-graphs-wr {
  flex-grow: 1;
}

.cloud-metrics-graphs {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr 1fr 1fr;
  background: $gapColor;
  gap: $gapWidth $gapWidth;
  place-items: stretch;

  & > div {
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

$metricsCtrlIconSize: 16px;
.graph-title {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  align-items: center;
  column-gap: 0.5em;
  width: 100%;

  mat-icon {
    width: $metricsCtrlIconSize;
    height: $metricsCtrlIconSize;
    font-size: $metricsCtrlIconSize;
    cursor: pointer;
  }

  & > div {
    padding-left: 3rem;
  }
}

.metrics-failed {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
}

.indicators {
  padding-top: $menuItemHeight;
  margin-left: $marginWidth;
  border-left: $gapWidth solid $gapColor;
  background: #fff;
}

.stats {
  padding: calc($menuItemHeight + 0.2em) 0.5em 0em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    padding-bottom: 0.8rem;
  }

  .select-fitcontent {
    margin-right: 2rem;

    ::ng-deep mat-select .mat-select-value {
      max-width: 100%;
    }
  }
}

$iconSize: 16px;
.icon-hidden-count {
  display: inline-flex;
  align-items: center;
  margin-left: 0.4em;
  cursor: pointer;

  mat-icon {
    margin-left: 4px;
    font-size: $iconSize;
    width: $iconSize;
    height: $iconSize;
  }
}
