<div class="content">
  <div class="cloud-metrics-graphs">
    <!-- <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot> -->
    <div>
      <plotly-plot
        [data]="[graphData]"
        [layout]="graphLayout"
        [config]="graphConfig"
      ></plotly-plot>
    </div>
    <div>
      <plotly-plot
        [data]="[graphData]"
        [layout]="graphLayout"
        [config]="graphConfig"
      ></plotly-plot>
    </div>
    <div>
      <plotly-plot
        [data]="[graphData]"
        [layout]="graphLayout"
        [config]="graphConfig"
      ></plotly-plot>
    </div>
    <div>
      <plotly-plot
        [data]="[graphData]"
        [layout]="graphLayout"
        [config]="graphConfig"
      ></plotly-plot>
    </div>
    <div>
      <plotly-plot
        [data]="[graphData]"
        [layout]="graphLayout"
        [config]="graphConfig"
      ></plotly-plot>
    </div>
    <div>
      <plotly-plot
        [data]="[graphData]"
        [layout]="graphLayout"
        [config]="graphConfig"
      ></plotly-plot>
    </div>
  </div>
  <div class="indicators">
    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>
  </div>
</div>
