@import '_variables';

nav {
  position: relative;
  height: $menuItemHeight;
}

.nav-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  background-color: $color1;
  color: $color1Contrast;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  padding: 0px 30px;
  z-index: 10;
}

.menu-expand {
  display: flex;
  align-items: center;

  mat-icon {
    width: $expandIconSize;
    height: $expandIconSize;
    font-size: $expandIconSize;
  }
}

.menu-items {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  min-height: $menuItemHeight;
  height: $menuItemHeight;
  overflow: hidden;

  &.opened {
    height: auto;
  }

  & > div {
    height: $menuItemHeight;
    padding: 0px 1.5em;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &.active {
      background-color: $navMenuItemBg;
    }

    &:hover {
      background-color: $navMenuItemBg;
    }
  }
}
