@import '_variables';

.header-icons {
  img {
    width: 30px;
    cursor: pointer;
  }

  span {
    display: inline-block;
    margin-left: 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 15px $headerHorzPadding;

  .csx-logo {
    width: 100px;
    filter: invert(1);
  }

  .title {
    margin-left: 30px;
    font-weight: 500;
    flex-grow: 1;
  }

  .header-icons {
    span {
      display: inline-block;
    }
  }

  .header-icons {
    display: flex;
    align-items: center;
  }
}

.menu-container {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;

  &.visible {
    display: flex;
  }
}

.side-menu {
  height: 100%;
  color: #fff;
  display: none;
  grid-auto-columns: 100%;
  grid-auto-rows: 1fr;
  justify-content: center;
  row-gap: 10px;


  &.visible {
    display: grid;
  }

  a {
    text-decoration: none;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }

    &.disabled {
      cursor: default;
      color: dimgray;
    }

    &:visited {
      color: inherit;
    }
  }
}

.nav-menu {
  background-color: $navMenuBg;

  a {
    background-color: $navMenuItemBg;

    &.disabled {
      &:hover {
        background-color: $navMenuItemBg;
      }
    }
  }
}

.modules-menu {
  background-color: $navMenuBg;

  a {
    background-color: $modulesMenuItemBg;

    &.disabled {
      &:hover {
        background-color: $modulesMenuItemBg;
      }
    }
  }
}
