<header class="header">
  <img class="csx-logo" src="/assets/img/csxlogo_2.png" />
  <div class="title">COMMAND CENTER</div>
  <div class="header-icons">
    <span class="icon-bell"><img src="/assets/img/bell.svg" (click)="onBell()"/></span>
    <span class="icon-settings"><img src="/assets/img/settings.svg" (click)="showModulesMenu = true"/></span>
  </div>
</header>

<div class="page">
  <router-outlet></router-outlet>
</div>

<div
  [ngClass]="{ 'menu-container': true, visible: showNavMenu || showModulesMenu}"
  (click)="hideSideMenu()"
  >
  <div [ngClass]="{'side-menu': true, 'nav-menu': true, visible: showNavMenu}">
    <a [routerLink]="">Home</a>
    <a [routerLink]="" class="disabled">Request Application</a>
    <a [routerLink]="" class="disabled">Developer Portal</a>
    <a [routerLink]="" class="disabled">Support</a>
    <a [routerLink]="">Logout</a>
  </div>

  <div [ngClass]="{'side-menu': true, 'modules-menu': true, visible: showModulesMenu}">
    <a [routerLink]="routePaths.CloudMetrics">Cloud Metrics Dashboard</a>
    <a [routerLink]="routePaths.DataScience">Data Science Dashboard</a>
    <a [routerLink]="" class="disabled">ADA Architecture</a>
    <a [routerLink]="" class="disabled">ADA Orchestration</a>
    <a [routerLink]="">User Configuration</a>
  </div>
</div>

<div class="progress" [hidden]="!showSpinner">
  <mat-spinner></mat-spinner>
  <div class="progress-message" *ngIf="spinnerText">{{ spinnerText }}</div>
</div>
