<horizontal-menu
  [items]="horMenuItems"
  [activeItem]="displayedItem$.value"
  (selectedItem)="onSelectHorMenuItem"
></horizontal-menu>

<div class="content" *ngIf="sideMenuItems.length > 0">
  <ul class="left-menu">
    <li *ngFor="let sub of sideMenuItems"
      (click)="onSelectSubItem(sub.value)"
      >
      {{ sub.name }}
    </li>
  </ul>

  <div class="graphs-wr">
    <div #primaryLineChart [id]="primaryLinechartId" class="primary-graph">
      <plotly-plot *ngIf="mockData.primary"
        [data]="[mockData.primary]"
        [layout]="primaryLineChartLayout"
        [config]="lineChartConfig"
      ></plotly-plot>
    </div>

    <div [id]="secondaryLinechartsId" class="secondary-graphs" *ngIf="mockData.secondary">
      <div
        #secondaryChart
        [id]="secondaryLinechartIdPrefix + idx"
        *ngFor="let item of mockData.secondary; let idx = index"
        >
        <plotly-plot *ngIf="item.graphData"
          [data]="[item.graphData]"
          [layout]="secondaryLineChartLayout"
          [config]="lineChartConfig"
        ></plotly-plot>

        <!-- <div class="metrics-failed" *ngIf="!item.graphData">Data loading failed</div> -->
      </div>

      <div *ngFor="let item of getTailCount()"></div>
    </div>
  </div>

  <div class="indicators">
    <div>
      <plotly-plot [data]="gaugeConfig" [layout]="gaugeLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="gaugeConfig" [layout]="gaugeLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="gaugeConfig" [layout]="gaugeLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>
  </div>
</div>
