<horizontal-menu
  [items]="horMenuItems"
  [activeItem]="displayedItem$.value"
  (selectedItem)="onSelectHorMenuItem"
></horizontal-menu>

<div class="content" *ngIf="sideMenuItems.length > 0">
  <ul class="left-menu">
    <li *ngFor="let sub of sideMenuItems"
      (click)="onSelectSubItem(sub.value)"
      >
      {{ sub.name }}
    </li>
  </ul>

  <div class="data-science-graphs-wr">
    <div class="data-science-graphs">
      <!---
      <div *ngFor="let item of items">
        <div class="graph-title">
          <div>{{ item.name | splitWords }}</div>
          <mat-icon (click)="hideMetrics(item.name)" title="Hide metrics">visibility_off</mat-icon>
          <mat-icon (click)="showBigChart(item.name)" title="View big chart">open_in_full</mat-icon>
        </div>
        <plotly-plot *ngIf="item.graphData"
          [data]="[item.graphData]"
          [layout]="graphLayout"
          [config]="graphConfig"
        ></plotly-plot>
        <div class="metrics-failed" *ngIf="!item.graphData">Data loading failed</div>
      </div>

      <div *ngFor="let item of getTailCount()"></div>
      -->
    </div>
  </div>

  <div class="indicators">
    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>

    <div>
      <plotly-plot [data]="indicator1" [layout]="indicatorsLayout" [config]="{ displayModeBar: false }"></plotly-plot>
    </div>
  </div>
</div>
