@import '_variables';

.content {
  padding: 1rem 0 0 0;
  display: flex;
  border: $marginWidth solid #fff;
}

.left-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0.3rem 1rem;
    cursor: pointer;

    & .active {
      background-color: $navMenuItemBg;
    }
  }
}

.graphs-wr {
  flex-grow: 1;
}

.primary-graph {
  height: 300px;
  width: 100%;
}

.secondary-graphs {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 33.33% 33.33% 33.33%;
  background: $gapColor;
  gap: $gapWidth $gapWidth;
  place-items: stretch;
  border-top: $gapWidth solid $gapColor;

  & > div {
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
  }
}
